<link rel="import" href="../bower_components/polymer/polymer.html">

<link rel="import" href="app-style.html">
<!--<link rel="import" href="../bower_components/flatiron-director/flatiron-director.html">-->
<link rel="import" href="../bower_components/core-style/core-style.html">
<link rel="import" href="../bower_components/core-header-panel/core-header-panel.html">
<link rel="import" href="../bower_components/core-toolbar/core-toolbar.html">
<link rel="import" href="../bower_components/core-drawer-panel/core-drawer-panel.html">
<link rel="import" href="../bower_components/core-menu/core-menu.html">
<link rel="import" href="../bower_components/core-icon-button/core-icon-button.html">
<link rel="import" href="../bower_components/core-animated-pages/core-animated-pages.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/paper-item/paper-item.html">

<link rel="import" href="enek-filter.html">

<polymer-element name="gitaros-app">
    <template>
        <core-style ref="gitaros-style"></core-style>
        <core-style ref="shell-style"></core-style>
        <!--        <core-header-panel flex mode="waterfall-tall">
                    <core-toolbar>
                        <div>Hello World!</div>
                    </core-toolbar>
                </core-header-panel>-->
        <!--<flatiron-director route="{{route}}" autoHash></flatiron-director>-->
        <core-drawer-panel id="drawerPanel" responsiveWidth="800px">
            <core-header-panel drawer mode="seamed">
                <core-toolbar>
                    <core-icon-button icon="arrow-back" core-drawer-toggle></core-icon-button>
                    <span>Menü</span>
                </core-toolbar>
                <div>
                    <core-menu id="menu" class="gitaros" selected="{{route}}" fit>
                        <paper-item on-tap="{{togglePanel}}">Kezdőlap</paper-item>
                        <paper-item on-tap="{{togglePanel}}">Énekek</paper-item>
                        <paper-item on-tap="{{togglePanel}}">Miserend összellítása</paper-item>
                        <paper-item on-tap="{{togglePanel}}">Mentett miserendek</paper-item>
                    </core-menu>
                </div>
            </core-header-panel>
            <!--            <core-header-panel mode="waterfall-tall">
                            <div class="core-header">waterfall-tall</div>
                            <div class="content"></div>
                        </core-header-panel>-->
            <core-header-panel main flex mode="seamed">
                <core-toolbar core-header>
                    <core-icon-button icon="menu" core-drawer-toggle></core-icon-button>
                    <span>Gitáros mise diák {{title_majd}}</span>
                </core-toolbar>
                <!--<div >-->
                <core-animated-pages content selected="{{route}}">
                    <section valueattr="">
                        <enek-filter filter="{{filter}}"></enek-filter>
                        <paper-shadow>
                            <h1>HTML Ipsum Presents</h1>

                            <p><strong>Pellentesque habitant morbi tristique</strong> senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. <em>Aenean ultricies mi vitae est.</em> Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, <code>commodo vitae</code>, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui. <a href="#">Donec non enim</a> in turpis pulvinar facilisis. Ut felis.</p>
                        </paper-shadow>
                    </section>
                    <section valueattr="enekek">
                        <paper-shadow>
                            <h2>Header Level 2</h2>

                            <ol>
                                <li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
                                <li>Aliquam tincidunt mauris eu risus.</li>
                            </ol>

                            <blockquote><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus magna. Cras in mi at felis aliquet congue. Ut a est eget ligula molestie gravida. Curabitur massa. Donec eleifend, libero at sagittis mollis, tellus est malesuada tellus, at luctus turpis elit sit amet quam. Vivamus pretium ornare est.</p></blockquote>
                        </paper-shadow>
                    </section>
                    <section valueattr="miserend">
                        <paper-shadow>
                            <h3>Header Level 3</h3>

                            <ul>
                                <li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
                                <li>Aliquam tincidunt mauris eu risus.</li>
                            </ul>

                            <pre><code>
#header h1 a { 
	display: block; 
	width: 300px; 
	height: 80px; 
}
</code></pre>
                        </paper-shadow>
                    </section>
                    <section valueattr="mentett-miserendek">

                    </section>
                </core-animated-pages>
                <!--</div>-->
            </core-header-panel>
        </core-drawer-panel>
    </template>
    <core-style id="shell-style">
        core-toolbar {
        background-color: {{g.primaryColor}};
        color: {{g.textPrimaryColor}};
        }
        core-header-panel[drawer] core-toolbar {
        background-image: none;
        background-color: {{g.darkPrimaryColor}};
        color: {{g.textPrimaryColor}};
        }

        .primary-background {
        background-color: {{g.primaryColor}};
        }

        core-header-panel[drawer] {
        /*border-right: 1px solid {{g.dividerColor}};*/
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.098), 0px 0px 3px rgba(0, 0, 0, 0.098);
        background-color: {{g.cardBackgroundColor}};
        background-image: url("img/clef.png");
        background-size: auto 200px;
        background-repeat: no-repeat;
        background-position: bottom left;
        }

        core-menu#menu {
        /*margin: 0;*/
        }

        core-menu#menu.gitaros paper-item.core-selected {
        background-color: {{g.lightPrimaryColor}};
        }
    </core-style>
    <script>
        Polymer('gitaros-app', {
            ready: function() {
                this.title = 'Gitáros mise diák';
            },
            togglePanel: function () {
                this.$.drawerPanel.togglePanel();
            }
        });
    </script>
</polymer-element>
